
  body {
      background-image: url("https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAUfAAAAJDgwYmZkNTZhLWRjNzMtNDU3Zi05NDhkLTg2N2RkNjU4ZTE5OA.jpg");
      background-size: cover;
      background-repeat: no-repeat;

  }
  h1 {
      text-align: center;
  }
  .row2 {
      font-weight: bold;
  }
